n8n/workflows/nyc311_ingestion_workflow.json
{
  "name": "NYC 311 - Ingest public API to PostgreSQL",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -560,
        -40
      ]
    },
    {
      "parameters": {
        "path": "nyc311-ingest",
        "httpMethod": "POST",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -560,
        160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ingestion-api:8000/ingest",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "5000"
            },
            {
              "name": "allow_fixture_fallback",
              "value": "true"
            }
          ]
        },
        "options": {
          "timeout": 600000
        }
      },
      "id": "call-ingestion-api",
      "name": "Call Ingestion API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -220,
        60
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "status",
              "value": "ingestion_finished"
            },
            {
              "name": "source",
              "value": "={{$json.source}}"
            },
            {
              "name": "batch_id",
              "value": "={{$json.batch_id}}"
            }
          ],
          "number": [
            {
              "name": "fetched_records",
              "value": "={{$json.fetched_records}}"
            },
            {
              "name": "upserted_records",
              "value": "={{$json.upserted_records}}"
            }
          ]
        },
        "options": {}
      },
      "id": "format-result",
      "name": "Format Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        120,
        60
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Call Ingestion API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Call Ingestion API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Ingestion API": {
      "main": [
        [
          {
            "node": "Format Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-05-26T00:00:00.000Z",
  "versionId": "nyc311-workflow-v1",
  "active": false
}